#autoScreen > main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    "highGoal  highGoal   missedShots  missedShots"
    "innerGoal innerGoal  missedShots  missedShots"
    "lowGoal   widgetOne  widgetTwo    widgetThree";
  gap: 20px;

  border-radius: 8px;
  padding: 5px;

  margin: 10px;

  height: calc(100vh - 60px);
}

/* #autoScreen > main > div {
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
  } */
#autoScreen.red {
  border: 4px solid red;
}
#autoScreen.blue {
  border: 4px solid blue;
}
#autoscreen .highGoal {
  grid-area: "highGoal";
}

#autoScreen header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: 1fr;

  font-size: 30px !important;
  margin: 10px 0 5px 20px;
}
#autoScreen #header .dataField {
}

#timer {
  color: yellow;
}

.box {
}

.headerLeft {
  grid-area: headerLeft;
}
.headerCLeft {
  grid-area: headerCLeft;
}
.headerCRight {
  grid-area: headerCRight;
}
.headerRight {
  grid-area: headerRight;
}
.highGoal {
  grid-area: highGoal;
}
.innerGoal {
  grid-area: innerGoal;
}
.missedShots {
  grid-area: missedShots;
}
.lowGoal {
  grid-area: lowGoal;
}

#autoScreen .box {
  font-size: 40px;
  border: 2px solid white;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    "label label label"
    "data data data"
    "none none keyLabel";

  padding: 20px;
}
#autoScreen .box .dataLabel {
  grid-area: label;
  justify-self: center;
}
#autoScreen .box .dataField {
  grid-area: data;
  justify-self: center;
  font-size: 80px;
}
#autoScreen .box .keyLabel {
  grid-area: keyLabel;
  justify-self: end;
  padding: 0 5px 5px 0;
}

#autoScreen .noborder {
  border: none;
  text-align: left;
  font-size: 40px;
}
#autoscreen #team {
  grid-area: "team";
}

#autoscreen header .teamNum {
  grid-area: "teamNum";
}

#autoscreen #match {
  grid-area: "match";
}

#autoscreen header .matchNum {
  grid-area: "matchNum";
}

#autoscreen #alliance {
  grid-area: "alliance";
}

#autoscreen header .allianceName {
  grid-area: "allianceName";
}

#autoscreen header .timer {
  grid-area: "timer";
}

#autoscreen header .timerSecs {
  grid-area: "allianceName";
}

#teleopScreen {
  display: flex;
  flex-direction: column;
  height: 86vh;
}
#infoBar {
  height: 5%;
  display: none;
  justify-content: center;
  margin-top: 2%;
}
#timerDisplay {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: yellow;
}
#teamDisplay {
  width: 10%;
  text-align: center;
  font-size: 20px;
}
#matchDisplay {
  width: 10%;
  text-align: center;
  font-size: 20px;
}

#endgameScreen {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

@media screen and (max-width: 1000px) {
  #autoScreen > main {
    display: block;

    border-radius: 8px;
    padding: 5px;

    margin: 10px;
  }

  #autoScreen .box {
    font-size: 30px;
    border: 2px solid white;
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: 2fr 1fr 30px;
    grid-template-rows: 1fr;
    grid-template-areas: "label data keyLabel"; */
    align-items: center;
    padding: 20px;
  }
  #autoscreen .box * {
      height: 50px;
  }
  #autoScreen .box .dataLabel {
    vertical-align: middle;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #autoScreen .box .dataField {
    vertical-align: middle;
    font-size: 40px;
  }
  #autoScreen .box .keyLabel {
    vertical-align: middle;
    grid-area: keyLabel;
    justify-self: end;
    padding: 0 5px 5px 0;
  }
  #autoScreen header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px;

    font-size: 20px !important;
    margin: 7px 0 5px 20px;
  }
  
  #autoscreen #team {
    content: "T";
  }

  #autoscreen #match {
    content: "M";
  }

  #autoscreen #alliance {
    content: "A";
  }
}
